.box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    animation-name: changeBox;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

}

@keyframes changeBox{
    0%
    {
        background-color: blueviolet;
        transform: translate(0, 0);
    }
    25%
    {
        background-color: coral;
        transform: translate(0, 250px);
    }
    50%
    {
        background-color: aqua;
        transform: translate(250px, 250px);
    }
    75%
    {
        background-color: chartreuse;
        transform: translate(250px, 0);
    }
    100%{
        background-color: blueviolet;
        transform: translate(0, 0);
    }
    
}
